<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @settlement.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @settlement.description %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @settlement.elevation %>
  km
</p>

<p>
  <strong>Settlement Type:</strong>
  <%= @settlement.settlement_type.title %>
</p>

<p>
  <strong>Chain:</strong>
  <%= @settlement.chain.title %>
</p>

<%= link_to 'Edit', edit_settlement_path(@settlement) %> |
<%= link_to 'Back', settlements_path %>
