<p id="notice"><%= notice %></p>

  <h2><%= @article.title %></h2>

  <div>
    <%= @article.text %>
  </div>

  <p>
    <strong>Categories: </strong>
      <% @article.article_category.each do |category| %>
      <%= link_to category.title, article_category_url %>
      <!-- ПЕРЕХОДИТЬ ТІЛЬКИ НА 1 категорію -->
      <% end %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= link_to @article.source, @article.source %>
  </p>

  <p>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <p><%= link_to 'Back', articles_path %></p>
