<%= form_with(model: object_importance, local: true) do |form| %>
  <% if object_importance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(object_importance.errors.count, "error") %> prohibited this object_importance from being saved:</h2>

      <ul>
      <% object_importance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
