<%= form_with(model: route, local: true) do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, for: 'Title', value: 'Назва', class: 'bmd-label-floating'  %>
    <%= form.text_field :title, class: 'form-control', id: 'Title' %>
  </div>

  <div class="form-group">
    <%= form.label :description, for: 'Description',  value: 'Опис', class: 'bmd-label-floating'  %>
    <%= form.text_area :description, class: 'form-control', id: 'Description' %>
  </div>

  <div class="form-group">
    <%= form.label :start_date, for: 'Startdate',  value: 'Дата початку', class: 'bmd-label-floating'  %>
    <!--<%= form.datetime_select :start_date, class: 'form-control', id: 'Startdate' %> --->
    <%= form.date_field :start_date, class: 'form-control', id: 'Startdate' %>
  </div>

  <div class="form-group">
    <%= form.label :end_date, for: 'Enddate',  value: 'Дата закінчення', class: 'bmd-label-floating'  %>
    <%= form.date_field :end_date, class: 'form-control', id: 'Enddate' %>
  </div>

  <div class="form-group">
    <%= form.label :duration, for: 'Duration',  value: 'Тривалість', class: 'bmd-label-floating'  %>
    <%= form.number_field :duration, class: 'form-control', id: 'Duration' %>
  </div>

  <div class="form-group">
    <%= form.label :chain_id, value: 'Chain',  value: 'Гірський хребет', class: 'bmd-label-floating' %>
    <%= form.select(:chain_id, options_from_collection_for_select(Chain.all.sort_by{ |c| c.title }, :id, :title, {:selected => route.chain_id}), {}, {:class => 'form-control'})%>
  </div>

  <div class="form-group">
    <%= form.label :complexity_id, value: 'Complexity',  value: 'Важкість', class: 'bmd-label-floating' %>
    <%= form.select(:complexity_id, options_from_collection_for_select(Complexity.all.sort_by{ |c| c.title }, :id, :title, {:selected => route.complexity_id}), {}, {:class => 'form-control'})%>
  </div>


  <div class="form-group">
    <%= form.label :publication, value: 'Публікація' %>
    <%= form.check_box :publication %>
  </div>

  <div class="form-group">
    <%= form.label :settlement_dep, value: 'Departure',  value: 'Місце відправлення', class: 'bmd-label-floating' %>
    <%= form.select(:settlement_dep, options_from_collection_for_select(Settlement.all.sort_by{ |c| c.title }, :id, :title, {:selected => route.settlement_dep}), {}, {:class => 'form-control'})%>
  </div>

  <div class="form-group">
    <%= form.label :settlement_arr, value: 'Arrival',  value: 'Місце прибуття', class: 'bmd-label-floating' %>
    <%= form.select(:settlement_arr, options_from_collection_for_select(Settlement.all.sort_by{ |c| c.title }, :id, :title, {:selected => route.settlement_arr}), {}, {:class => 'form-control'})%>
  </div>

  <div class="form-group">
    <%= form.label :route_status_id, value: 'Route status',  value: 'Статус', class: 'bmd-label-floating' %>
    <%= form.select(:route_status_id, options_from_collection_for_select(RouteStatus.all.sort_by{ |c| c.title }, :id, :title, {:selected => route.route_status_id}), {}, {:class => 'form-control'})%>
  </div>

  <div>
    <%= form.label :participants, value: 'Учасники', class: 'bmd-label-floating' %>
    <%= form.select(:participants, options_from_collection_for_select(Profile.all.sort_by{ |p| p.last_name }.sort_by{ |p| p.first_name }, :id, :full_name), {}, {:class => 'form-control', :multiple => true })%>

<!--     <select class="mdb-select md-form" multiple>
  <option value="" disabled selected>Choose your country</option>
  <option value="1">USA</option>
  <option value="2">Germany</option>
  <option value="3">France</option>
  <option value="3">Poland</option>
  <option value="3">Japan</option>
</select>
<label class="mdb-main-label">Label example</label>
<button class="btn-save btn btn-primary btn-sm">Save</button> -->
  </div>


  <div class="actions">
    <%= form.submit value: 'Створити',  class: 'btn btn-primary btn-raised'%>
  </div>
<% end %>
