<%= form_with(model: route, local: true) do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration %>
  </div>

  <div class="field">
    <%= form.label :chain_id %>
    <%= form.text_field :chain_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :complexity_id %>
    <%= form.text_field :complexity_id %>
  </div>

  <div class="field">
    <%= form.label :publication %>
    <%= form.check_box :publication %>
  </div>

  <div class="field">
    <%= form.label :settlement_dep %>
    <%= form.text_field :settlement_dep %>
  </div>

  <div class="field">
    <%= form.label :settlement_arr %>
    <%= form.text_field :settlement_arr %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
