<!-- <p id="notice"><%= notice %></p> -->

<h1>Маршрути</h1>

<br>
<%= link_to 'Створити новий маршрут', new_route_path %>
<br>

<div>
  <% @routes.each do |route| %>
    <div>
      <h4><%= route.title %></h4>
      <p><%= route.chain.title %></p>
      <p><%= truncate(route.description, :length => 200, :separator => ' ')%> <%= link_to 'Читати більше', route %></p>
    </div>
  <% end %>
</div>
