<!-- <p id="notice"><%= notice %></p> -->

<h2><%= @route.title %></h2>

<div style="margin-bottom: 15px;">
  <%= @route.description %>
</div>

<div>
  <p><strong>Складність:</strong> <%= @route.complexity.title %></p>
</div>

<div>
  <p>
    <strong>З</strong> <%= @route.start_date.strftime("%d %b %Y") %>
    <strong>до</strong> <%= @route.end_date.strftime("%d %b %Y")  %>,
    <strong>тривалість</strong> <%= @route.duration %> дні
  </p>
</div>

<div>
  <p><strong>Гірський хребет:</strong> <%= @route.chain.title %></p>
</div>

<!--<p>
  <strong>Author:</strong>
  <%= @route.user_id %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @route.publication %>
</p>-->

<div>
  <p>
    <strong>Місце початку:</strong>
    <%= Settlement.full_title(Settlement.find(@route.settlement_dep)) %>
  </p>
</div>

<div>
  <p>
    <strong>Місце закінчення:</strong>
    <%= Settlement.full_title(Settlement.find(@route.settlement_arr)) %>
  </p>
</div>

<div>
  <h3>Моє спорядження (<%= Profile.find(current_user.id).first_name %> <%= Profile.find(current_user.id).last_name %>)*</h3>

  <% sum = 0 %>
<div>
<% @categories.each do |category| %>
  <p><strong><%= category %></strong></p>
  <table>
    <thead>
      <tr>
        <th style="width: 250px">Предмет</th>
        <th>Кількість</th>
        <th>Вага (кг)</th>
        <th>Ідивідуальність</th>
        <th>Важливість</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% UserAvailableItem.category_items(@user_items, category).each do |i| %>
        <tr>
          <% sum += i.item.weight %>
          <td><%= i.item.title %></td>
          <td><%= 1 %></td>
          <td><%= i.item.weight %></td>
          <td>
            <% if i.item.individualy %>
              індивідуальна
            <% else %>
              групова
            <% end %>
          </td>
          <td><%= i.item.object_importance.title %></td>
          <td><%= link_to 'Деальніше', item_path(i.item) %></td>
          <!-- <td><%= link_to 'Редагувати', edit_user_available_item_path(i) %></td> -->
          <!-- <td><%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% end %>
  <div>
    <h4>Вага наплічника: <%= sum.round(2) %> кг</h4>
  </div>

  <p style="font-weight: bold; font-size: 18px;">*Даний список спорядження є рекомендованим, а не обов'язковим.</p>
</div>


<%= link_to 'Редагувати', edit_route_path(@route) %> |
<%= link_to 'Повернутися', routes_path %>
<div style="margin-bottom: 30px;"></div>
