<p id="notice"><%= notice %></p>

<h2><%= @route.title %></h2>

<div>
  <%= @route.description %>
</div>

<div>
  <p><strong>Complexity:</strong> <%= @route.complexity.title %></p>
</div>

<div>
  <p>
    <strong>From</strong> <%= @route.start_date.strftime("%d %b %Y") %>
    <strong>to</strong> <%= @route.end_date.strftime("%d %b %Y")  %>,
    <strong>Duration</strong> <%= @route.duration %> days
  </p>
</div>

<div>
  <p><strong>Chain:</strong> <%= @route.chain.title %></p>
</div>

<!--<p>
  <strong>Author:</strong>
  <%= @route.user_id %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @route.publication %>
</p>-->

<div>
  <p>
    <strong>Settlement departure:</strong>
    <%= Route.settlement_title(@route.settlement_dep) %>
  </p>
</div>

<div>
  <p>
    <strong>Settlement arrival:</strong>
    <%= Route.settlement_title(@route.settlement_arr) %>
  </p>
</div>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
