<p id="notice"><%= notice %></p>

<h2><%= @route.title %></h2>

<div>
  <%= @route.description %>
</div>

<div>
  <p><strong>Complexity:</strong> <%= @route.complexity.title %></p>
</div>

<div>
  <p>
    <strong>From</strong> <%= @route.start_date.strftime("%d %b %Y") %>
    <strong>to</strong> <%= @route.end_date.strftime("%d %b %Y")  %>,
    <strong>Duration</strong> <%= @route.duration %> days
  </p>
</div>

<div>
  <p><strong>Chain:</strong> <%= @route.chain.title %></p>
</div>

<!--<p>
  <strong>Author:</strong>
  <%= @route.user_id %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @route.publication %>
</p>-->

<div>
  <p>
    <strong>Settlement departure:</strong>
    <%= Route.settlement_title(@route.settlement_dep) %>
  </p>
</div>

<div>
  <p>
    <strong>Settlement arrival:</strong>
    <%= Route.settlement_title(@route.settlement_arr) %>
  </p>
</div>

<div>
  <h3>My items</h3>

  <% sum = 0 %>
<div>
<% @categories.each do |category| %>
  <p><strong><%= category %></strong></p>
  <table>
    <thead>
      <tr>
        <th style="width: 250px">Item</th>
        <th>Count</th>
        <th>Weight (kg)</th>
        <th>Individualy</th>
        <th>Importance</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% UserAvailableItem.category_items(@user_items, category).each do |i| %>
        <tr>
          <% sum += i.item.weight %>
          <td><%= i.item.title %></td>
          <td><%= 1 %></td>
          <td><%= i.item.weight %></td>
          <td><%= i.item.individualy %></td>
          <td><%= i.item.object_importance.title %></td>
          <td><%= link_to 'Show', item_path(i.item) %></td>
          <td><%= link_to 'Edit', edit_user_available_item_path(i) %></td>
          <td><%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% end %>
  <div>
    <h3>Sum: <%= sum.round(2) %> kg</h3>
  </div>
</div>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
