<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @food_type.title %>
</p>

<div>
  <% @food_type.food.each do |food| %>
    <p><%= link_to food.title, food_url %></p>
  <% end %>
</div>

<%= link_to 'Edit', edit_food_type_path(@food_type) %> |
<%= link_to 'Back', food_types_path %>
