<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, for: 'Title', class: 'bmd-label-floating' %>
    <%= form.text_field :title, class: 'form-control', id: 'Title' %>
    <span class="bmd-help">We'll never share your email with anyone else.</span>
  </div>

  <div class="form-group">
    <%= form.label :description, for: 'Description', class: 'bmd-label-floating' %>
    <%= form.text_area :description, class: 'form-control', id: 'Description' %>
    <span class="bmd-help">We'll never share your email with anyone else.</span>
  </div>

  <div class="form-group">
    <%= form.label :weight, for: 'Weight', class: 'bmd-label-floating' %>
    <%= form.text_field :weight, class: 'form-control', id: 'Weight' %>
    <span class="bmd-help">We'll never share your email with anyone else.</span>
  </div>

  <div class="form-group">
    <%= form.label :volume, for: 'Volume', class: 'bmd-label-floating' %>
    <%= form.text_field :volume, class: 'form-control', id: 'Volume' %>
    <span class="bmd-help">We'll never share your email with anyone else.</span>
  </div>

  <div class="form-group">
    <%= form.label :source, for: 'Source', class: 'bmd-label-floating' %>
    <%= form.text_field :source, class: 'form-control', id: 'Source' %>
    <span class="bmd-help">We'll never share your email with anyone else.</span>
  </div>

  <div class="checkbox">
    <label><%= form.check_box :individualy %> Individual</label>
  </div>

  <div class="form-group">
    <%= form.label :object_category_id, value: 'Object category', class: 'bmd-label-floating' %>
    <%= form.select(:object_category_id, options_from_collection_for_select(ObjectCategory.all.sort_by{ |c| c.title }, :id, :title, {:selected => item.object_category_id}), {}, {:class => 'form-control'})%>
  </div>

  <div class="form-group">
    <%= form.label :item_type_id, value: 'Item type', class: 'bmd-label-floating' %>
    <%= form.select(:item_type_id, options_from_collection_for_select(ItemType.all.sort_by{ |c| c.title }, :id, :title, {:selected => item.item_type_id}), {}, {:class => 'form-control'})%>
  </div>

  <div class="form-group">
    <%= form.label :object_importance_id, value: 'Object importance', class: 'bmd-label-floating' %>
    <%= form.select(:object_importance_id, options_from_collection_for_select(ObjectImportance.all.sort_by{ |c| c.title }, :id, :title, {:selected => item.object_importance_id}), {}, {:class => 'form-control'})%>
  </div>

  <div class="form-group">
    <%= form.label :season_id, value: 'Season', class: 'bmd-label-floating' %>
    <%= form.select(:season_id, options_from_collection_for_select(Season.all.sort_by{ |c| c.title }, :id, :title, {:selected => item.season_id}), {}, {:class => 'form-control'})%>
  </div>

  <div class="form-group">
    <%= form.label :weather_type %><br />
    <div class="row">
      <% WeatherType.all.sort_by{ |w| w.title }.each do |type| %>
      <div class="col-md-3">
        <%= check_box_tag "item[weather_type_ids][]", type.id,
          @item.weather_type.include?(type) %>
        <%= type.title %><br />
      </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :producer_id, value: 'Producer', class: 'bmd-label-floating' %>
    <%= form.select(:producer_id, options_from_collection_for_select(Producer.all.sort_by{ |c| c.title }, :id, :title, {:selected => item.producer_id}), {}, {:class => 'form-control'})%>
  </div>

  <div>
    <%= link_to 'Back', items_path, class: "btn btn-default" %>
    <%= form.submit class: 'btn btn-primary btn-raised' %>
  </div>
<% end %>
