<p id="notice"><%= notice %></p>

<h1>Items</h1>

<div>
  <p><%= link_to 'Season', seasons_path %> |
  <%= link_to 'Item Importance', object_importances_path %> |
  <%= link_to 'Item Category', object_categories_path %> |
  <%= link_to 'Weather Type', weather_types_path %> |
  <%= link_to 'Producer', producers_path %>
  </p>
</div>

<%= link_to 'New Item', new_item_path %>

  <div>
    <% @items.each do |item| %>
      <div>
        <h4><%= item.title %></h4>
        <p><%= truncate(item.description, :length => 200, :separator => ' ')%> <%= link_to 'Read more', item %></p>
        <p>Producer: <%= item.producer.title %> | <%= link_to 'Buy', item.source %></p>
      </div>
    <% end %>
  </div>
