<p id="notice"><%= notice %></p>

<h2><%= @item.title %></h2>

<p>
  <strong>Вага:</strong>
  <%= @item.weight %>
  кг
</p>

<p>
  <strong>Об'єм:</strong>
  <%= @item.volume %>
  л
</p>

<p>
  <strong>Опис:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Категорія:</strong>
  <%= @item.object_category.title %>
</p>

<p>
  <strong>Тип:</strong>
  <%= @item.item_type.title %>
</p>

<p>
  <strong>Сезон:</strong>
  <%= @item.season.title %>
</p>

<p>
  <strong>Найкраще підходить для погоди: </strong>
    <% @item.weather_type.each do |type| %>
    <%= link_to type.title, weather_type_path(type) %>
    <% end %>
</p>

<p>
  <strong>Виробник:</strong>
  <%= @item.producer.title %>
</p>

<p>
  <strong>Індивідуальність речі:</strong>
  <% if @item.individualy %>
    індивідуальна
  <% else %>
    групова
  <% end %>
</p>

<p>
  <strong>Важливість:</strong>
  <%= @item.object_importance.title %>
</p>

<p>
  <strong>Джерело:</strong>
  <%= link_to @item.source, @item.source %>
</p>

<!-- <%= link_to 'Редагувати', edit_item_path(@item) %> | -->
<%= link_to 'Назад', items_path %>
