<p id="notice"><%= notice %></p>

<h1>Route Menus</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @route_menus.each do |route_menu| %>
      <tr>
        <td><%= route_menu.count %></td>
        <td><%= link_to 'Show', route_menu %></td>
        <td><%= link_to 'Edit', edit_route_menu_path(route_menu) %></td>
        <td><%= link_to 'Destroy', route_menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route Menu', new_route_menu_path %>
