<p id="notice"><%= notice %></p>

<h2><%= @chain.title %></h2>

<div style="margin-bottom: 20px;">
  <%= @chain.description %>
</div>

<div>
  <p>Складність: <%= @chain.complexity.title %></p>
</div>

<p>Місця: </p>
<div>
  <p>
    <% @chain.settlements.each do |settlement| %>
      <%= link_to settlement.title, settlement_url %> |
    <% end %>
  </p>
</div>

<p>Маршрути: </p>
<div>
  <p>
    <% @chain.routes.each do |route| %>
      <%= link_to route.title, route_url %> |
    <% end %>
  </p>
</div>

<!--<%= link_to 'Edit', edit_chain_path(@chain) %> | -->
<%= link_to 'Повернутися', chains_path %>
