<p id="notice"><%= notice %></p>

<h1>User Available Items</h1>

<%= link_to 'New User Available Item', new_user_available_item_path %>

<% @categories.each do |category| %>
  <p><%= category %></p>
  <table>
    <thead>
      <tr>
        <th style="width: 250px">Item</th>
        <th>Count</th>
        <th>Weight (kg)</th>
        <th>Individualy</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% UserAvailableItem.category_items(@user_available_items, category).each do |i| %>
        <tr>
          <td><%= i.item.title %></td>
          <td><%= i.count %></td>
          <td><%= i.item.weight %></td>
          <td><%= i.item.individualy %></td>
          <td><%= link_to 'Show', item_path(i.item) %></td>
          <td><%= link_to 'Edit', edit_user_available_item_path(i) %></td>
          <td><%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% end %>

<br>
