<p id="notice"><%= notice %></p>

<h1>Виробники</h1>

  <div>
    <% @producers.each do |producer| %>
      <div>
        <h5><%= producer.title %></h5>
        <p><%= truncate(producer.description, :length => 200, :separator => ' ')%> <%= link_to 'Читати більше', producer %></p>
      </div>
    <% end %>
  </div>

<!-- <%= link_to 'New Producer', new_producer_path %> -->
