<p id="notice"><%= notice %></p>

<h2>
  <%= @producer.title %>
</h2>

<p style="font-size: 16px;">
  <%= @producer.description %>
</p>

<% unless @producer.food.empty? %>
<h5>Їжа:</h5>
<div>
  <p>
  <% @producer.food.each do |food| %>
    <%= link_to food.title, food_parth(food) %>,
  <% end %>
  </p>
</div>
<% end %>

<% unless @producer.item.empty? %>
<h5>Спорядження:</h5>
<div>
  <p>
  <% @producer.item.each do |item| %>
    <%= link_to item.title, item_path(item) %>,
  <% end %>
  </p>
</div>
<% end %>

<!--<%= link_to 'Edit', edit_producer_path(@producer) %> | -->
<%= link_to 'Повернутися', producers_path %>
<div style="margin-bottom: 30px"></div>
