<%= form_with(model: complexity, local: true) do |form| %>
  <% if complexity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complexity.errors.count, "error") %> prohibited this complexity from being saved:</h2>

      <ul>
      <% complexity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
